
/* REUSABLE CSS */
.input-style{
    width: 300px;
    border: 1px solid #112B3C;
    border-radius: 4px;
    padding: 4px 8px;
}

/* CONTACT US PAGE STYLES */
.contact-us{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 20px 60px;
    background-color:#2053752f;
    box-shadow: 0 0 12px #112B3CC5;
}
.contact-us>*{
    padding: 0 12px;
}

.contact-us-img img{
    object-fit: contain;
    width: 480px;
    height: auto;
    margin: 0 auto;
}
.right-side{
    justify-content: space-evenly;
}
.contact{
    display: flex;
    justify-content:space-evenly ;
    align-items: flex-start;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    color:#112B3C;
}

.contact i{
    color: #112B3C;
    text-align: right;
    margin-bottom: 8px;
    font-size: 10px;
}
.contact p{

    line-height: 1;
    font-weight: 300;
    font-size: 14px;
}
.telephone{
    /* align-self:flex-end; */
}
.contact-form{
    margin: 24px auto;
    text-align: right;
}
.contact-form>*{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    margin: 16px auto;
}
.contact-form>legend{
    display: block;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}


.contact-form textarea{
    resize: none;
    height: 150px;
}
.contact-form>button{
    display: block;
    width: 300px;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    float: right;
    background-color: #F66B0E;
    color:#112B3C;
    /* border:1px solid #112B3C; */
    border-radius: 4px
}
.contact-form>button:hover{
    box-shadow: 0 0 4px #112B3Caa;
}