/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');



/* ANIMATIONS */
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes slide-down {
    0%{top: -40px;}
    100%{top: 100px;}
}




/* REUSABLE CSS */
.active{
    border-bottom: 2px solid #F66B0E;
}
.content-width{
    width: 900px;
    margin: 0 auto;
}

.three-col-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 48px;
}

.four-col-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 32px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-space{
    margin:40px auto;
    font-weight: 700;
}





/* TAG STYLES */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
body{
    color:#112B3C;
}
button{
    cursor: pointer;
    border: none;
    background-color: #F66B0E;
    color:#ffffff;
}
img{
    width: 100%;
    object-fit: contain;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color:#ffffff;
    cursor: pointer;
}
a:hover{
    color:#F66B0E;
}

nav{
    background-color: #112B3C;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom:4px solid #205375;
}





/* NAV BAR */
.nav-upper,
.menu{
    justify-content: space-between;
    color: #ffffff;
}
.nav-upper>a>img{
    width: 200px;
}
.search>form{
    justify-content: flex-start;
}

.search input{
    border: none;
    outline: none;
    padding: 8px;
    margin: 0;
    height: 24px;
    border-radius: 4px 0 0 4px ;
}
.search button{
    background-color:#ffffff;
    color:#112B3C;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 0 4px 4px 0;
    margin-left: -2px;
}

.menu-btns li{
    list-style: none;
}
.menu-btns a{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #112B3C;
    letter-spacing: 1px;
}
.menu-btns a:hover{
    color: #F66B0E;
}







/* -------------------------------------------- */
.container{
    position: relative;
    width: 100%;
}
.container::before{
    content: "";
    background-image: url("/img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top:0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

/* ---------------------------------------------- */






/* WELCOME */
.welcome{
    background-color:#112B3C;
    height: 320px;
    margin: 96px auto;
    animation: fade 1s;
    box-shadow: 0 0 12px #112B3CCC;
    box-sizing:content-box;
}
.welcome>img{
    float: left;
    object-fit: cover;
    width: 48%;
    height: 320px;
}
.info{
    text-align: left;
    color: #ffffff;
    padding: 0 32px;
    height: inherit;
}
.info h1{
    margin: 0 0 24px 0;
    font-weight: 600;
}
.info p{
    margin: 0 0 36px 0;
    line-height: 1.05;
}
.info a{
    width: 300px;
    padding: 4px 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #F66B0E;
    color:#FFFFFF;
}
.info a:hover{
    box-shadow: 0 0 8px #112B3CC0;
}




/* MONTHLY SALES */
.highlights{
    background-color: #EFEFEF;
    width: 100%;
    height: 430px;
    padding-top: 8px;
}

.highlights_cntr{
    gap: 48px;
}
.highlight{
    cursor: pointer;
    color:#112B3C;
    font-weight: 500;
    transition-duration: 0.2s;
    padding: 0 16px;
    margin: 0 0 12px 0;
    height: 280px;
}
.highlight:hover{
    box-shadow: 0 0 4px #112B3CC0;
    transform: scale(1.05);
}
.highlight:active{
    box-shadow:0 0 0 #112B3CC0;
    transform: scale(1);
}
.highlight:hover.highlight>button{
    display: block;
    position: absolute;
    width: 130px;
    align-self: center;
    top: 100px;
    animation: slide-down 0.2s;
}
.highlight>p{
    padding-top: 8px;
    line-height: 1.1;
    margin-bottom: 12px;
    color: #205375;
}
.highlight>img{
    height: 130px;
}
.highlight h4{
    text-decoration: line-through;
    font-style: italic;
    padding: 0;
    color:#727272;
}
.highlight>h3{
    margin: 0 0 8px 0;
    padding: 0;
    color: #205375;
}

.highlight>button{
    display: none;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 600;
}
.highlight button:hover{
    box-shadow: 0 0 4px #112B3CC0;
}





/* CATEGORIES */
.product-options{
    padding-top: 96px;
    padding-bottom: 12px;
    background-color:#EFEFEF;
}
.options-container{
    gap: 48px;
}
.option{
    /* border: 1px solid #112B3C; */
    transition-duration: 0.4s;
    cursor: pointer;
}
.option:hover{
    transform: scale(1.05);
}
.option:hover.option>h3{
    color:#F66B0E;
}
.option:hover.option>img{
    filter:contrast(1);
    padding: 0;
}
.option>img{
    height: 140px;
    object-fit: cover;
    padding: 16px;
    filter:contrast(0.6);
    transition-duration: 0.4s;
}
.option>h3{
    color: #112B3C;
    padding: 4px;
    font-size: 18px;
    transition-duration: 0.4s;
    text-transform: uppercase;
}
.product-options>button{
    display: block;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 32px;
    margin: 80px auto;
    background-color:#205375;
    transition-duration: 0.2s;
}
.product-options>button:hover{
    box-shadow: 0 0 4px #112B3CC0;
    background-color:#F66B0E;
}


/* REPAIRS */
.repairs-container{
    margin: 96px 0;
    height: 300px;
    background-color:#205375cc;
    color:#ffffff;
}
.repairs{
    justify-content: flex-start;
    padding-top: 40px;
}
.repair-img>img{
    width: 160px;
    object-fit: contain;
    margin-right: 40px;
}
.repair-text>a{
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 4px;
    margin-top: 24px;
    background-color:#F66B0E;
    color:#ffffff;
    width: 200px;
    transition-duration: 0.3s;
}
.repair-text>a:hover{
    transform: scale(1.1);
}




/* FOOTER */
footer{
    background-color:#112B3C;
    border-top: 4px solid #205375;
}
.footer-container{
    column-gap: 128px;
    padding: 20px 0;
    height: 200px;
}
.footer-item{
    align-self: flex-start;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    width:fit-content;
    color:#ffffff;
}
.footer-item>img{
    margin-bottom: 40px;
}
.footer-item>h3{
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.footer-item>p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 300;
}
.footer-item>a{
    font-style: italic;
    font-size: 14px;
}
.pay-logo>i{
    font-size: 36px;
}
.sm{
    margin-left: 40px;
}
.sm-item{
    justify-content: flex-start;
}
.sm-item i{
    margin-right: 8px;
    color:#ffffff;
}
footer>p{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    background-color:#205375;
    color:#ffffff;
    letter-spacing: 2px;
    padding: 8px 0;
}

